<div class="container">
  <div class="row">
    <div class="col s2">
      <br/>
      <br/>
      <%= link_to 'ایجاد سند جدید', new_document_path, :class=> "post-btn waves-effect waves-light btn deep-purple darken-2 white-text"%>
    </div>
    <div class="col s10">
      <h1>مستندات شما</h1>
    </div>
  </div>
  <% current_user.documents.each do |document| %>
    <div class="row">
      <div class="card yellow lighten-1">
        <div class="card-title">
          <br/>
          <%= document.title %>
          <br/>
          <p></p>
        </div>
        <div class="card-action">
          <%= link_to 'نمایش', document_path(document), :class=> "waves-effect waves-light btn deep-purple darken-2 white-text"%>
          <%= link_to 'ویرایش', edit_document_path(document), :class=> "waves-effect waves-light btn deep-purple darken-2 white-text"%>
          <%= link_to 'حذف', document_path(document), :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }, :class=> "waves-effect waves-light btn red darken-2 white-text"%>
        </div>
    </div>
  <% end %>
</div>
